#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic-values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 200px;
  padding-left: 20px;
}

.correct-counter {
  color: green;
  font-family: "Roboto B";
  font-size: 24px;
}

.wrong-counter {
  color: red;
  font-family: "Roboto B";
  font-size: 24px;
}

.card {
  padding: 2em;
}

.selected {
  background-color: green;
  color: green;
}
